:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --white: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}

* {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}
ul {
  list-style-type: none;
}
header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
header a:hover,
header a:focus {
  color: var(--accent);
}
.nav-list {
  text-transform: capitalize;
}
.logo-first-part,
.logo-second-part,
.logo-footer-second-part {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.03em;
}
.logo-footer-second-part {
  color: var(--white);
}

.logo-first-part {
  color: var(--accent);
}

.current-page {
  color: var(--accent);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--white);
  text-transform: uppercase;
}
.hero {
  background-color: var(--primary-bg-color);
}
.hero-link {
  color: var(--white);
  background-color: var(--accent);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
}
.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.advantages p {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.advantages p::first-letter {
  text-transform: capitalize;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.section-title::first-letter {
  text-transform: capitalize;
}
.team h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
footer {
  background-color: var(--primary-bg-color);
}
.contacts {
  font-style: normal;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address-place {
  color: var(--white);
}
.buttons button:hover,
.buttons button:focus {
  color: var(--white);
  background-color: var(--accent);
}
.buttons button {
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.buttons button::first-letter {
  text-transform: capitalize;
}
.cards h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.cards p {
  font-size: 16px;
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.header-contacts {
  color: var(--secondary-text-color);
}
